h1 {
    color: lightblue;
    text-align: center;
}
p {
    color: black;
    font-family: courier;
    font-size: 120%;
    border: 2px solid black; /* corrected border declaration */
    padding: 60px; /* corrected margin declaration */
}
body {
    background-color: blanchedalmond;
}
